torch>=2.7.0
torchvision>=0.22.0
opencv-python>=4.11.0.86
diffusers>=0.35.2
transformers>=4.57.0,<5
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
pandas
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
numpy>=2.0.0
wandb
omegaconf
einops
av>=16.0.1
git+https://github.com/openai/CLIP.git
open_clip_torch
starlette
pycocotools
lmdb
matplotlib
sentencepiece
pydantic>=2.11.7
scikit-image
huggingface_hub[cli]
dominate
nvidia-pyindex
nvidia-tensorrt
pycuda
onnx
onnxruntime
onnxscript
onnxconverter_common
flask
flask-socketio
torchao
